@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.woff') format('woff2'),
         url('fonts/roboto-medium-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

span {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'robotolight';
}